name: publish

on:
  workflow_dispatch:
  release:
    types:
      - published

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.13"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install python-appimage package
        run: uv pip install --system python-appimage

      - name: Create xonsh AppImage
        run: python -m python_appimage build app -p 3.11 ./appimage
        
      - name: Create file qwe
        run: |
          touch qwe
          echo 1 > qwe
          
      - name: Upload qwe to release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./xonsh-x86_64.AppImage
          asset_name:  xonsh-x86_64.AppImage
          asset_content_type: text/plain
